# Dev Local
# =====

## URL de la base de données MongoDB
# MONGODB_URI="mongodb://127.0.0.1:27017/cassis"


## URL de l'application web (pour les redirections)
# BASE_URL="http://localhost:3000"

## URL de l'EIRB_AUTH qui permet d'authentifier les utilisateurs avec le CAS
# EIRB_AUTH_URL="http://localhost:8080"


# Variables pour Docker
# =====

## URL de la base de données MongoDB
MONGODB_URI="mongodb://cassisdb_root:d100a8440f9f1cbe117eabc92e23322e9a0b52073a3b22b1c9944f8570d892ba4@mongo-cassis:27017/cassis"

## URL de l'application web (pour les redirections)
BASE_URL="http://localhost:3000"

## URL de l'EIRB_AUTH qui permet d'authentifier les utilisateurs avec le CAS
EIRB_AUTH_URL="http://host.docker.internal:8080"